/*  your css code here. If applicable */
#contnr{
	width:400px;
	height: 400px;
	border: 1px ;
	padding: 50px;
	box-shadow: 1px 1px 13px ;
	text-align: center;
}
#btn{
	background-color:red;
	color:white;
	padding:20px;
	margin:20px;
	border-radius: 20px;
	border-style: none;
}
#desc{
	padding: 8px;
}